<!DOCTYPE html>
<html ng-app="WeatherApp">
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="skycons.js"></script>
        
    </head>
    <body>
        <div ng-controller="WeatherController as wc">
            <div class="page-header">
                <h1>{{wc.app_name}}</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" >Selected City: {{wc.selected_city.name}}</div>
                <div class="panel-body">
                    
                    <div class="dropdown">
                        <button class="bt btn-default dropdown-toggle" type="button" id="dropdowncities"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{wc.selected_city.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdowncities">
                            <li ng-model="wsc.selected_city" 
                                ng-repeat="city in wc.cities | orderBy:'name'" 
                                ng-change="wc.getCurrentConditions()">
                                <a ng-click="wc.dropdowncitiesSelected(city)">{{city.name}}</a>
                            </li>
                        </ul>
                    </div> 
                    

                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <my-conditions-ds></my-conditions-ds>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="angular-skycons.js"></script>
        <script src="app.js"></script>
    </body>
    
</html>