<!DOCTYPE html>
<html ng-app="local_storage_app">
<head>
    <!-- this example was consulted: http://embed.plnkr.co/ThpFwX7BRhRhNWPuq5ap/preview -->
    <title>Local Storage Demo</title>
    
</head>
<body ng-controller="MainController as mc">
  <h1>Local Storage Demo</h1>
  <h2>Current LocalStorage value is = <em>{{mc.latestData()}}</em></h2>
  <h3>List of Recent Past Presidents of the United States</h3>
  <ul>
      <li ng-repeat="president in mc.presidents">
          {{president.name}}
      </li>
  </ul>
  <input type="text" ng-model="mc.value">
  <input type="button" value="update" ng-click="mc.update(mc.value)">
  <script  src="angular.min.js"></script> 
  <script src="localstorageapp.js"></script>  
</body>
</html>